<a href="https://colab.research.google.com/github/samikshalokhande/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas is an open-source library that is built on top of NumPy library. 

Data can be in the form of:


1.  Scalar (int,float etc)
2.  Python Dictionaries 
3.  Dataframes
4.  Numpy Arrays

In [12]:
#Download using pip:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.4)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [13]:
#import 
import numpy as np
import pandas as pd

In [14]:
#Create Dataframes
d1 = pd.DataFrame([[1,"Can Yamen", 'Male', 25 , 'Science'],
                  [2,"Sanem Devit", 'Female', 23 , 'Economics']])
print(d1)

print("-------------------------------------------------")
#Dataframes with column header
cols = ['Roll no', 'Name', "Gender", 'Age', 'Subjects']

d2 = pd.DataFrame([[1,"Can Yamen", 'Male', 25 , 'Science'],
                  [2,"Sanem Devit", 'Female', 23 , 'Economics']],
                  columns=cols)
print(d2)

   0            1       2   3          4
0  1    Can Yamen    Male  25    Science
1  2  Sanem Devit  Female  23  Economics
-------------------------------------------------
   Roll no         Name  Gender  Age   Subjects
0        1    Can Yamen    Male   25    Science
1        2  Sanem Devit  Female   23  Economics

In [16]:
# Convert Data into Dataframes from Dictionary
d3 = pd.DataFrame(dict(Roll_no = [1,2],
                       Name=['Can','Sam'],
                       Gender=['M','F'],
                       Age= [25,23],
                       Subject = ['Eng','Sci']))
print(d3)

   Roll_no Name Gender  Age Subject
0        1  Can      M   25     Eng
1        2  Sam      F   23     Sci

In [28]:
# Dataframes using Series

x=[1,2,3,4,5,6]
#create series
s = pd.Series(x)
print(s)
print("-------------------------------------")
#create index
index = ['a','b','c','d','e','f']
#add index to Series
s1 = pd.Series(data=x,index=index)
print(s1)
print("------------------------------------")
#covert to DF (col is added)
df_s = pd.DataFrame(s1)
print(df_s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
-------------------------------------
a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64
------------------------------------
   0
a  1
b  2
c  3
d  4
e  5
f  6

In [39]:
#Create DataFrames from dictionary
a = ['A','B','C','D']
b = [True, False, True, False]
c = [1,2,3,4]

dict1 = {"a":a,
        "b":b,
        "c":c}
print("Dictionary :")
print(dict1)
print("------------------------------------")
print("DataFrame :")
df1 = pd.DataFrame(dict1)
print(df1)

Dictionary :
{'a': ['A', 'B', 'C', 'D'], 'b': [True, False, True, False], 'c': [1, 2, 3, 4]}
------------------------------------
DataFrame :
   a      b  c
0  A   True  1
1  B  False  2
2  C   True  3
3  D  False  4

In [44]:
#Printing Index
print("Print Index")
print(df1.index)
print("------------------------------------------------")

#Updating Row Index 
row_index = ['one','two','three', 'four']
df1.index = row_index
print(df1)
print("------------------------------------------------")

print("Print Index")
print(df1.index)

Print Index
Index(['one', 'two', 'three', 'four'], dtype='object')
------------------------------------------------
       a      b  c
one    A   True  1
two    B  False  2
three  C   True  3
four   D  False  4
------------------------------------------------
Print Index
Index(['one', 'two', 'three', 'four'], dtype='object')

In [47]:
#Concatenate Dataframes
## Col name should be same if they are not error will be thrown
cols1 = ['Roll no', 'Name', "Gender", 'Age', 'Subjects']

df1 = pd.DataFrame([[1,"Can Yamen", 'Male', 25 , 'Science'],
                  [2,"Sanem Devit", 'Female', 23 , 'Economics']],
                                    columns=cols1)

cols2 = ['Roll no', 'Name', "Gender", 'Age', 'Subjects']

df2 = pd.DataFrame([[1,"Embre Yamen", 'Male', 24 , 'Maths'],
                  [2,"Leyla Devit", 'Female', 24 , 'English']],
                                    columns=cols2)


df_conc = pd.concat([df1,df2])
print(df_conc)

   Roll no         Name  Gender  Age   Subjects
0        1    Can Yamen    Male   25    Science
1        2  Sanem Devit  Female   23  Economics
0        1  Embre Yamen    Male   24      Maths
1        2  Leyla Devit  Female   24    English